<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MMM-dd HH:mm:ss} [%p] %t %c - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="CommonLogAppender"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/Users/zhangkai/workspace/java/jason_start/jobrunninginfo.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	
	<logger name="org.hibernate.type" level="ERROR" />
	<logger name="org.hibernate.sql" level="ERROR" />
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="ERROR" />
	<logger name="org.hibernate.SQL" level="ERROR" />
	<logger name="org.hibernate.engine.QueryParameters" level="ERROR" />
	<logger name="org.hibernate.engine.query.HQLQueryPlan" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="org.eclipse" level="ERROR" />

	<logger name="com.jason.jason_start.common.CommonLog"
			level="INFO">
		<appender-ref ref="CommonLogAppender" />
	</logger>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="MessageCenterAppender" />
	</root>

</configuration>